.pageAll{
  margin-top: 80px;
  text-align: center;
  /* width: 900px;*/
}
#header{
	height: 150px;
	background-color:#001440;
}
.navy{
  /*margin-left: auto;
  margin-right: auto;*/
 height: 60px
  border: 3px solid #785547;
  background-color: #003A6C;
  text-align:center;

}
#footer{
	 border: 3px solid #785547;
	 background-color: #003A6C

}
ul{
	padding: 0px;
}

li{
	display: inline;
	padding: 10px

}
a{
	text-decoration: none;
	color: #71706E
}
h1{
	font-family: arial,"Times New Roman";
	font-size:45px ;
	color:#58111A ;
}

button{
	height: 39px;
	background:#6495ED ;
	border:0px ;
	padding-right:20px ;
	padding-left: 20px;
	color:#ffffff ;
	margin-bottom:  10px
}
#amount{
	padding:4px;
	height: 25px;
	width: 250px;
}
select{
	padding:4px;
	height: 25px;
	width: 150px;
	margin-bottom: 10px;
	margin-top: 10px
}
